@{
    ViewBag.Address = "127.0.0.1:5001";
}
<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="~/css/boxicons.css" rel="stylesheet" />
    <link type="text/css" rel="stylesheet" href="~/css/bootstrap.css" />
    <link type="text/css" rel="stylesheet" href="~/css/bootstrap-vue.css" />
    <script src="~/js/vue.js"></script>
    <script src="~/js/bootstrap-vue.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/portal-vue.umd.min.js"></script>

    <style>
        body {
            margin: 0px;
        }

        #left-menu-button {
            width: 50px;
            height: 50px;
            background-color: transparent;
            border: 0;
            padding: 0px;
            margin-right: 10px;
        }

        #main-div {
            display: grid;
            margin: 0px;
            grid-template-rows: 50px auto;
            grid-template-columns: auto;
        }

        #top-menu {
            width: 100%;
            background-color: lightblue;
            display: flex;
            align-items: center;
            position: fixed;
        }

        #auth-div .b-button {
            margin-left: 5px;
            margin-right: 5px;
        }

        #greeting {
            margin-right: 10px;
            display: flex;
        }

        #main-content {
            margin: 5px;
            grid-row-start: 2
        }

        .tab-div {
            display: flex;
            flex-direction: column;
        }

        .clickable-text {
            text-decoration: underline;
            cursor: pointer;
        }

        .menu-elem-button {
            background-color: transparent;
            color: black;
            text-align: left;
            border: 0 !important;
            width: 100%;
        }

        .menu-aspirant-elem {
            margin-left: 20px;
        }

        .tab-div h1 {
            text-align: center
        }

        button.close {
            padding: 0;
            background-color: transparent;
            border: 0
        }

        .modal-dialog footer {
            display: none;
        }

        .sr-only {
            display: none;
        }

        .abitur-spec{
            border-style: solid;
            border-radius: 5px;
            padding: 5px;
        }

        .abitur-spec p{
            margin: 0px;
        }
    </style>
</head>
<body>
    <div id="body-div">
        <div id="main-div">
            <div id="top-menu">
                <b-sidebar v-model:visible="leftMenu" title="Меню" backdrop shadow>
                    <b-button class="menu-elem-button" @@click="switchTab(2)">Список зарегистрированных аспирантов</b-button>
                    <b-button class="menu-elem-button menu-aspirant-elem" 
                              @@click="switchTab(3)" :disabled="!personSelected">Данные об абитуриенте</b-button>
                    <b-button class="menu-elem-button menu-aspirant-elem" 
                              @@click="switchTab(4)" :disabled="!personSelected">Данные о вступительных экзаменах</b-button>
                    <b-button class="menu-elem-button menu-aspirant-elem" 
                              @@click="switchTab(5)" :disabled="!personSelected">Данные об аспиранте</b-button>
                    <b-button class="menu-elem-button menu-aspirant-elem" 
                              @@click="switchTab(6)" :disabled="!personSelected">Экзамены/зачёты</b-button>
                    <b-button class="menu-elem-button" @@click="switchTab(7)">Список преподавателей</b-button>
                </b-sidebar>
                <b-modal header="Вход" id="login-form" v-model="loginForm" centered>
                    <template #modal-title>
                        Вход
                    </template>
                    <b-form-input id="loginLogin" v-model="username" placeholder="Email или имя пользователя"></b-form-input>
                    <b-form-input id="passwordLogin" type="password" v-model="password" placeholder="Пароль"></b-form-input>
                    <b-button style="margin-top: 10px; width: 100%" @@click="login" :disabled="loginAttempt">
                        <i v-if="loginAttempt" class="bx bx-loader-alt bx-spin"></i>Вход
                    </b-button>
                </b-modal>
                <b-button id="left-menu-button"
                          @@click="leftMenu = true"
                          :disabled="loading || unauth || !isAdmin ? 'disabled' : false">
                    <i class="bx bx-menu bx-md"></i>
                </b-button>
                <h2 style="cursor: default; user-select: none;">Аспирант</h2>
                <div style="flex-grow: 1"></div>
                <div id="auth-div" :style="{display: unauth ? '' : 'none'}">
                    <b-button @@click="loginForm = true">Вход</b-button>
                </div>
                <div id="greeting" :style="{display: !unauth ? '' : 'none'}">
                    <b-button @@click="logout">Выход</b-button>
                </div>
            </div>

            <div id="main-content">
                @RenderBody()
            </div>
        </div>
    </div>
    <script>
        window.topApp = new Vue({
            el: '#top-menu',
            data: {
                loading: true,
                leftMenu: false,
                unauth: true,
                isAdmin: false,
                loginForm: false,
                registrationForm: false,

                username: '',
                password: '',
                loginAttempt: false,

                emailRegistration: '',
                loginRegistration: '',
                passwordRegistration: '',
                passwordAgainRegistration: '',

                personSelected: false
            },
            methods: {
                login() {
                    this.loginAttempt = true;
                    fetch('https://@ViewBag.Address/api/Account/Login', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json;charset=utf-8'
                        },
                        body: JSON.stringify({
                            login: this.username,
                            password: this.password
                        }),
                        credentials: "include"
                    }).then(res => {
                        if (res.ok)
                            window.location = '/';
                        else
                            loginAttempt = false;
                    });
                },
                logout() {
                    fetch('https://@ViewBag.Address/api/Account/Logout', {
                        method: 'POST',
                        credentials: "include"
                    }).then(res => {
                        if (res.ok)
                            window.location = '/';
                    });
                },
                switchTab(id) {
                    window.bodyApp.activeTab = id;
                    this.leftMenu = false;
                },
            }
        });

        fetch('https://@ViewBag.Address/api/account/check', { credentials: "include" })
            .then(res => {
                if (res.status == 401) {
                    window.topApp.loading = false;
                    window.topApp.switchTab(0);
                }
                else
                    res.json().then(r => {
                        window.topApp.unauth = false;
                        window.topApp.loading = false;
                        if (r.accessLevel == 3) {
                            window.topApp.isAdmin = true;
                            window.topApp.switchTab(2);
                            window.bodyApp.load();
                        }
                        else
                            window.topApp.switchTab(1);
                    })
            })

    </script>
</body>
</html>
