@page
@model WebServer.Pages.IndexModel
@{
    ViewBag.Title = "Главная";
    Layout = "_Layout";
}

<div id="content-div">
    <div class="tab-div" :style="{display: activeTab != 0 ? 'none' : ''}">
        <h1>
            Чтобы воспользоваться системой «Аспирант» необходимо
            <span class="clickable-text" @@click="loginForm = true">войти</span>.
        </h1>
    </div>
    <div class="tab-div" :style="{display: activeTab != 1 ? 'none' : ''}">
        <h1>
            Недостаточно прав доступа<br />
            Воспользуйтесь учётной записью с достаточными правами доступа
        </h1>
    </div>
    <div class="tab-div" :style="{display: activeTab != 2 ? 'none' : ''}">
        <h1>Зарегистрированные аспиранты</h1>
        <b-table :items="persons"
                 :fields="personFields"
                 select-mode="single"
                 responsive="sm"
                 ref="selectableTable"
                 selectable
                 primary-key="id"
                 @@row-selected="onPersonRowSelected">
            <template #cell(selectedPerson)="{ rowSelected }">
                <template v-if="rowSelected">
                    <span aria-hidden="true">&check;</span>
                </template>
                <template v-else>
                    <span aria-hidden="true">&nbsp;</span>
                </template>
            </template>
        </b-table>
    </div>
    <div class="tab-div" :style="{display: activeTab != 3 ? 'none' : ''}">
        <h1>Вступительные экзамены</h1>
    </div>
    <div class="tab-div" :style="{display: activeTab != 4 ? 'none' : ''}">
        <h1>Данные аспиранта</h1>
    </div>
    <div class="tab-div" :style="{display: activeTab != 5 ? 'none' : ''}">
        <h1>Зачёты/экзаменыа</h1>
    </div>
</div>
<script>
    window.bodyApp = new Vue({
        el: '#content-div',
        data: {
            activeTab: @Html.Raw(!User.Identity.IsAuthenticated ? 0 : !User.IsInRole("admin") ?  1 : 2),

            personFields: [
                {
                    key: 'lastname',
                    sortable: true,
                    label: 'Фамилия'
                },
                {
                    key: 'firstname',
                    sortable: true,
                    label: 'Имя'
                },
                {
                    key: 'patronymic',
                    sortable: true,
                    label: 'Отчество'
                }],
            persons: [{id: 0, lastname: 'dsdsd', firstname: 'dsdsd', patronymic: 'dsdsds'}],
            selectedPerson: null
        },
        methods: {
            onPersonRowSelected(items) {
                this.selectedPerson = items;
            }
        }
    });
</script>