@page
@model WebServer.Pages.PersonModel
@{
    ViewBag.Title = "Данные о физическом лице";
    ViewBag.Enducations = (Model.Person != null ? Json.Serialize(Model.Person.Enducations).ToString() : "[]");
    Layout = "_Layout";
}

<div id="person-div" class="tab-div">
    <h1>Данные физического лица</h1>

    <span class="p-float-label">
        <p-inputtext id="lastname" v-model="lastname"></p-inputtext>
        <label for="lastname">Фамилия</label>
    </span>
    <span class="p-float-label">
        <p-inputtext id="firstname" v-model="firstname"></p-inputtext>
        <label for="firstname">Имя</label>
    </span>
    <span class="p-float-label">
        <p-inputtext id="patronymic" v-model="patronymic"></p-inputtext>
        <label for="patronymic">Отчество</label>
    </span>
    <span class="p-float-label">
        <p-calendar id="birthdate" v-model="birthdate"></p-calendar>
        <label for="birthdate">Дата рождения</label>
    </span>
    <span class="p-float-label">
        <p-inputtext id="citizenship" v-model="citizenship"></p-inputtext>
        <label for="citizenship">Гражданство</label>
    </span>
    <span class="p-float-label">
        <p-inputtext id="passport" v-model="passport"></p-inputtext>
        <label for="passport">Документ, подтверждающий личность</label>
    </span>
    <span>
        <p-checkbox id="workbook" v-model="workbook" :binary="true"></p-checkbox>
        <label for="workbook">Наличие трудовой книжки</label>
    </span>
    <span class="p-float-label">
        <p-inputtext id="workplaces" v-model="workplaces"></p-inputtext>
        <label for="workplaces">Места работы</label>
    </span>
    <span class="p-float-label">
        <p-inputtext id="contacts" v-model="contacts"></p-inputtext>
        <label for="contacts">Контакты</label>
    </span>
    <p-datatable :value="enducations" class="p-datatable-sm">
        <p-column field="level" header="Уровень"></p-column>
        <p-column field="enddate" header="Дата окончания"></p-column>
        <p-column field="specialty" header="Специальность"></p-column>
    </p-datatable>
    <p-fieldset legend="Добавить образование" :toggleable="true" :collapsed="true">
        <h2>dsdsdsd</h2>
    </p-fieldset>
    <p-button label="Сохранить" @@click="personSave"></p-button>
</div>

<script>

</script>